    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-hand-holding-medical me-2"></i>AidBridge - AFET YARDIM MERKEZİ
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="/"><i class="fas fa-home me-1"></i> Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aid/"><i class="fas fa-list-alt me-1"></i> Yardım Talepleri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map"><i class="fas fa-map-marked-alt me-1"></i> Deprem Haritası</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aid/donate"><i class="fas fa-info-circle me-1"></i> Bağış Yap</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="/find-area" class="btn btn-primary me-2">
                    <button class="btn btn-light me-2">
                        <i class="fas fa-bell me-1"></i> Toplanma Alanı Bul
                    </button>
                </a>
                </div>
            </div>
        </div>
    </nav>